<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="pomexample">

<test name = "Amazonpomexample">

<classes>

<class name ="com.amazon.qa.testcases.HomePageTest"/>
<class name ="com.amazon.qa.testcases.SignInPageTest"/>
<class name ="com.amazon.qa.testcases.LoginPageTest"/>
<class name ="com.amazon.qa.testcases.YourAmazonPageTest"/>
<class name ="com.amazon.qa.testcases.NewRegistrationPageTest"/>

</classes>


</test>


</suite>